<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metadata of the Webpage -->
    <!-- Character-set Metadata -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Viewport Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Description Metadata-->
    <meta name="description" content="Portfolio Website" />
    <!-- Author Metadata -->
    <meta name="author" content="Aleksandar Stipan" />
    <!-- Keyword Metadata -->
    <meta
      name="keywords"
      content="Aleksandar Stipan, Programmer, Backend Developer,
      Data Analyst, Python, Go, Data Science, Web Development, Ujstor, Stipan, Aleksandar"
    />
    <!-- Webpage Logo -->
    <link rel="shortcut icon" href="./static/img/favicon.ico" />
    <!-- Webpage Title -->
    <title>Aleksandar Stipan</title>
    <!-- Import CSS: Main Stylesheet -->
    <link rel="stylesheet" href="./static/css/main.css" />
    <script defer data-domain="astipan.com" src="https://analytics.ujstor.com/js/script.js"></script>
  </head>
  <body>
    <div id="particles-js">
      <div class="header">
        <h1>
          <span class="site-title">ALEKSANDAR STIPAN</span>
          <span class="site-description">Backend Coder • Automation Enthusiast •  CI/CD Fanatic</span>
        </h1>
        <div class="header-icons">
          <a aria-label="My LinkedIn Profile" target="_blank" href="https://www.linkedin.com/in/aleksandar-s-00a5732a/">
            <i class="icon fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a aria-label="My Github Profile" target="_blank" href="https://github.com/Ujstor">
            <i class="icon fa fa-github-alt" aria-hidden="true"></i>
          </a>
          <a aria-label="My Resume" target="_blank" href="./static/resume_23.pdf">
            <i class="icon fa fa fa-file-pdf-o" aria-hidden="true"></i>
          </a>
          <a aria-label="Send Email" href="mailto:astipan@gmail.com" target="_blank"
            ><i class="icon fa fa-envelope"></i
          ></a>
        </div>
        <div class="header-links">
          <a class="link" href="#about" data-scroll>About Me</a>
          <a class="link" href="#projects" data-scroll>Projects</a>
        </div>
      </div>
      <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>

    <!-- About Section -->
    <section id="about">
      <!-- User Introduction-->
      <div class="user-details">
        <h1>My Story</h1>
        <p>
          As a self-taught programmer, I am focused on backend development, CI/CD pipelines and automation.
          I'm excited to apply my analytical mindset to projects requiring technical expertise and creative problem-solving.
          Additionally, I remain open to opportunities for growth, collaboration and addressing
          real-world challenges with my skill set.
        </p>
      </div>

      <!-- User Specifics -->
      <div class="user">
        <!-- Technology Stack #1: Languages & Tools-->
        <div class="user-details">
          <h1>Languages & Tools</h1>
          <div>
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kubernetes/kubernetes-plain.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/terraform/terraform-original.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jenkins/jenkins-original.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"
            />
            <img
              height="70"
              width="70"
              src="./static/svg/aws.svg"
            />
            <img
              height="105"
              width="105"
              src="./static/svg/hetzner.svg"
            />
          </div>
          <p>Preferred programming languages and core tools for version control, CI/CD, container orchestration and deployment.</p>
        </div>
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects">
      <div class="user-details">
        <h1>Featured Projects</h1>
      </div>

      <!-- User Project #1: go-blueprint -->
      <div class="user-projects">
        <div class="images-right">
         <picture>
           <source type="image/webp" 
                   srcset="./static/img/webp/blueprint.webp" 
                   sizes="(max-width: 600px) 480px, 800px" 
                   alt="Go-Blueprint" />
           <img src="./static/img/jpg/blueprint.jpg" 
                alt="blueprint" 
                style="width:auto;max-width:100%;" />
        </picture>
        </div>
        <div class="contents" style="text-align: center">
          <h3>Go-Blueprint</h3>
          <div>
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original-wordmark.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
            />
          </div>
          <p style="text-align: justify">
            Core maintainer of the Go-Blueprint project: Go Blueprint is a CLI tool that allows users to
            spin up a Go project with the corresponding structure. It also offers the option to 
            integrate with some of the more popular Go frameworks. Additionally, it implements database
            drivers along with Docker Compose file for quick database creation, HTMx templates and GitHubAction worflows.
          </p>
          <a class="project-link" target="_blank" href="https://github.com/Melkeydev/go-blueprint">GitHub</a>
        </div>
      </div>

      <!-- User Project #2: Self-Hosting AI Models (Ollama, Stable Diffusion, Foocus) -->
      <div class="user-projects">
        <div class="images-left">
          <picture>
            <source type="image/webp" 
                    srcset="./static/img/webp/models.webp" 
                    sizes="(max-width: 600px) 480px, 800px" />
            <img src="./static/img/jpg/models.jpg" 
                 alt="Self-Hosting AI Models (Ollama, Stable Diffusion, Foocus)" 
                 style="width:auto;max-width:100%;" />
          </picture>
        </div>
        <div class="contents-right" style="text-align: center">
          <h3>Self-Hosting AI Models</h3>
          <div>
            <img
              height="50"
              width="50"
              src="./static/svg/traefik.svg"
            />
            &nbsp;
            <img
              height="72"
              width="72"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
            />
          </div>
          <p style="text-align: justify">
            This project demonstrates the implementation of self-hosting AI models (Ollama, Stable Diffusion, Foocus) using Traefik on a home network.
            It serves as an efficient and secure alternative to cloud-based solutions, incorporating Traefik for optimized traffic routing and SSH 
            tunneling for safe access. Highlighting the complexities of AI service management and network configuration, the project ensures smooth 
            operation and accessibility.
          </p>
          <a class="project-link" target="_blank" href="https://github.com/Ujstor/self-hosting-ai-models">GitHub</a>
        </div>
      </div>

      <!-- User Project #3: Self hosted Coolify -->
      <div class="user-projects">
        <div class="images-right">
          <picture>
            <source type="image/webp" 
                    srcset="./static/img/webp/coolify.webp" 
                    sizes="(max-width: 600px) 480px, 800px" />
            <img src="./static/img/jpg/coolify.jpg" 
                 alt="Coolify instance on Hetzner" 
                 style="width:auto;max-width:100%;" />
          </picture>
        </div>
        <div class="contents" style="text-align: center">
          <h3>Coolify instance on Hetzner</h3>
          <div>
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/terraform/terraform-original.svg"
            />
            &nbsp;
            <img
              height="115"
              width="115"
              src="./static/svg/hetzner.svg"
            />
            &nbsp;
          </div>
          <p style="text-align: justify">
            Deploy Coolify on Hetzner Cloud using the Terraform. This project aims to create a highly optimized,
            auto-upgradable, highly available and cost-effective self hosted Coolify instance for deployng your
            projects on Hetzner Cloud. Coolify is an all-in one PaaS that helps you to self-host your own applications,
            databases or services without managing your servers, also known as an open-source & self-hostable
            Heroku / Netlify / Vercel alternative.
          </p>
          <a class="project-link" target="_blank" href="https://coolify.io/docs/">Check it out!</a>
          &nbsp;
          <a class="project-link" target="_blank" href="https://github.com/Ujstor/coolify-hetzner-terraform">GitHub</a>
        </div>
      </div>

      <!-- User Project #4: fast API -->
      <div class="user-projects">
        <div class="images-left">
          <picture>
            <source type="image/webp" 
                    srcset="./static/img/webp/fastapi.webp" 
                    sizes="(max-width: 600px) 480px, 800px" />
            <img src="./static/img/jpg/fastapi.jpg" 
                 alt="Social Media FastAPI" 
                 style="width:auto;max-width:100%;" />
          </picture>
        </div>
        <div class="contents-right" style="text-align: center">
          <h3>Social Media FastAPI</h3>
          <div>
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/fastapi/fastapi-original.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pytest/pytest-original.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="./static/svg/postman.svg"
            />
          </div>
          <p style="text-align: justify">
            This comprehensive project revolves around the development of a RESTful API using FastAPI
            and encompasses various key themes, including FastAPI fundamentals, database integration,
            Python and raw SQL, Object-Relational Mapping (ORM), Pydantic models, user authentication,
            database relationships, a vote/like system, database migration with Alembic.
          </p>
          <a class="project-link" target="_blank" href="https://fastapi.astipan.com/docs">Check it out</a>
          &nbsp;
          <a class="project-link" target="_blank" href="https://github.com/Ujstor/social-media-fastapi">GitHub</a>
          &nbsp;
          <a class="project-link" target="_blank" href="https://www.postman.com/ujstor/workspace/fastapi-test/">Postman</a>
        </div>
      </div>

            <!-- User Project #5: Probit API -->
      <div class="user-projects">
        <div class="images-right">
          <picture>
            <source type="image/webp" 
                    srcset="./static/img/webp/probit.webp" 
                    sizes="(max-width: 600px) 480px, 800px" />
            <img src="./static/img/jpg/probit.jpg" 
                 alt="ProBit Global API" 
                 style="width:auto;max-width:100%;" />
          </picture>
        </div>
        <div class="contents" style="text-align: center">
          <h3>ProBit Global API</h3>
          <div>
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg"
            />
          </div>
          <p style="text-align: justify">
            Effortlessly integrate with the ProBit Global Exchange API using this repository. 
            It simplifies the setup with Docker and automates deployment through a Jenkins pipeline.
            Essential for effective order monitoring, the setup involves easy credential configuration
            and supports automated updates linked to GitHub changes.
          </p>
          <a class="project-link" target="_blank" href="https://probit.astipan.com/">Check it out!</a>
          &nbsp;
          <a class="project-link" target="_blank" href="https://github.com/Ujstor/probit-exchange-api">GitHub</a>
        </div>
      </div>
    </section> 

    <footer class="footer">
      <p>&copy; Aleksandar Stipan, 2024</p>
    </footer>

    <!-- Import JS: Particles Theme -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- Import JS: Sweet Scroll -->
    <script src="./static/js/sweet-scroll.min.js"></script>
    <!-- Import JS: Main Script -->
    <script src="./static/js/main.js"></script>
  </body>
</html>