# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with "go test -c"
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

go.work
tmp/
*templ.go

main

.terra*
.auto.tf*
terraform.tfstate
terraform.tfstate.backup

bootstrap
function.zip
