<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metadata of the Webpage -->
    <!-- Character-set Metadata -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Viewport Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Description Metadata-->
    <meta name="description" content="Portfolio Website" />
    <!-- Author Metadata -->
    <meta name="author" content="Aleksandar Stipan" />
    <!-- Keyword Metadata -->
    <meta
      name="keywords"
      content="Aleksandar Stipan, Programmer, Backend Developer,
      Data Analyst, Python, Go, Data Science, Web Development, Ujstor, Stipan, Aleksandar"
    />
    <!-- Webpage Logo -->
    <link rel="shortcut icon" href="./static/img/favicon.ico" />
    <!-- Webpage Title -->
    <title>Aleksandar Stipan</title>
    <!-- Import CSS: Main Stylesheet -->
    <link rel="stylesheet" href="./static/css/main.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XY5R28CMBG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-XY5R28CMBG');
    </script>
  </head>
  <body>
    <div id="particles-js">
      <div class="header">
        <h1>
          <span class="site-title">ALEKSANDAR STIPAN</span>
          <span class="site-description">Backend Coder • Automation Enthusiast •  CI/CD Fanatic</span>
        </h1>
        <div class="header-icons">
          <a aria-label="My LinkedIn Profile" target="_blank" href="https://www.linkedin.com/in/aleksandar-s-00a5732a/">
            <i class="icon fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a aria-label="My Github Profile" target="_blank" href="https://github.com/Ujstor">
            <i class="icon fa fa-github-alt" aria-hidden="true"></i>
          </a>
          <a aria-label="My Resume" target="_blank" href="./static/resume_23.pdf">
            <i class="icon fa fa fa-file-pdf-o" aria-hidden="true"></i>
          </a>
          <a aria-label="Send Email" href="mailto:astipan@gmail.com" target="_blank"
            ><i class="icon fa fa-envelope"></i
          ></a>
        </div>
        <div class="header-links">
          <a class="link" href="#about" data-scroll>About Me</a>
          <a class="link" href="#projects" data-scroll>Projects</a>
        </div>
      </div>
      <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
    </div>

    <!-- About Section -->
    <section id="about">
      <!-- User Introduction-->
      <div class="user-details">
        <h1>My Story</h1>
        <p>
          As a self-taught programmer, my enthusiasm lies in data analysis, backend development and automation.
          I'm excited to apply my analytical mindset to projects requiring technical expertise, creative problem-solving
          and automation solutions. Additionally, I remain open to opportunities for growth, collaboration and addressing
          real-world challenges with my skill set.
        </p>
      </div>

      <!-- User Specifics -->
      <div class="user">
        <!-- Technology Stack #1: Languages & Tools-->
        <div class="tech">
          <h2>Languages & Tools</h2>
          <div>
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kubernetes/kubernetes-plain.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jenkins/jenkins-original.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
            />
            <img
              height="70"
              width="70"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"
            />
              <img
              height="105"
              width="105"
              src="./static/svg/hetzner.svg"
            />
          </div>
          <p>Preferred programming languages and core tools for version control, CI/CD, container orchestration and deployment.</p>
        </div>
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects">
      <div class="user-details">
        <h1>Featured Projects</h1>
      </div>

      <!-- User Project #1: Probit API -->
      <div class="user-projects">
        <div class="images-right">
          <picture>
            <source type="image/webp" srcset="./static/img/webp/probit.webp" alt="ProBit Global API" />
            <img alt="probit" src="./static/img/jpg/probit.jpg" />
          </picture>
        </div>
        <div class="contents" style="text-align: center">
          <h3>ProBit Global API</h3>
          <div>
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg"
            />
          </div>
          <p style="text-align: justify">
            Probit exchange API, website focuses on monitoring the execution of fat finger orders,
            ensuring efficient handling during market volatility and liquidity challenges.
          </p>
          <a class="project-link" target="_blank" href="https://probit.astipan.com/">Check it out!</a>
          &nbsp;
          <a class="project-link" target="_blank" href="https://github.com/Ujstor/probit-exchange-api">GitHub</a>
        </div>
      </div>

      <!-- User Project #2: Working Hours -->
      <div class="user-projects">
        <div class="images-left">
          <picture>
            <source type="image/webp" srcset="./static/img/webp/streamlit.webp" alt="Working Hours Analysis" />
            <img alt="streamlit" src="./static/img/jpg/streamlit.jpg" />
          </picture>
        </div>
        <div class="contents-right" style="text-align: center">
          <h3>Working Hours Analysis</h3>
          <img
            height="62"
            width="62"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pandas/pandas-original.svg"
            />
          &nbsp;
          <img
          height="62"
          width="62"
          src="./static/svg/streamlit.svg"
          />
          &nbsp;
          <img
          height="62"
          width="62"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
          />
          <p style="text-align: justify">
            Comprehensive resource for managing and analyzing working hours
            data spanning multiple years, offering three distinct raw data forms stored in separate Excel files,
            an analysis pipeline that encompasses data merging, cleaning, and launching a Streamlit server
            for in-depth statistical analysis.
          </p>
          <a class="project-link" target="_blank" href="https://working-hours.astipan.com/">Check it out</a>
          &nbsp;
          <a class="project-link" target="_blank" href="https://github.com/Ujstor/streamlit-working-hours">GitHub</a>
        </div>
      </div>

      <!-- User Project #3: fast API -->
      <div class="user-projects">
        <div class="images-right">
          <picture>
            <source type="image/webp" srcset="./static/img/webp/fastapi.webp" alt="Social Media FastAPI" />
            <img alt="fastapi" src="./static/img/jpg/fastapi.jpg" />
          </picture>
        </div>
        <div class="contents" style="text-align: center">
          <h3>Social Media FastAPI</h3>
          <div>
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/fastapi/fastapi-original.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pytest/pytest-original.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="./static/svg/postman.svg"
            />
          </div>
          <p style="text-align: justify">
            This comprehensive project revolves around the development of a RESTful API using FastAPI
            and encompasses various key themes, including FastAPI fundamentals, database integration,
            Python and raw SQL, Object-Relational Mapping (ORM), Pydantic models, user authentication,
            database relationships, a vote/like system, database migration with Alembic.
          </p>
          <a class="project-link" target="_blank" href="https://fastapi.astipan.com/docs">Check it out</a>
          &nbsp;
          <a class="project-link" target="_blank" href="https://github.com/Ujstor/social-media-fastapi">GitHub</a>
          &nbsp;
          <a class="project-link" target="_blank" href="https://www.postman.com/ujstor/workspace/fastapi-test/">Postman</a>
        </div>
      </div>

      <!-- Use Project #4: Data Science -->
      <div class="user-projects">
        <div class="images-left">
          <picture>
            <source
              type="image/webp"
              srcset="./static/img/webp/datascience.webp"
              alt="Data Science Repo"
            />
            <img alt="datascience" src="./static/img/jpg/datascience.jpg" />
          </picture>
        </div>
        <div class="contents-right" style="text-align: center">
          <h3>Data Science Repo</h3>
          <div>
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/numpy/numpy-original.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pandas/pandas-original.svg"
            />
            &nbsp;
            <img
              height="62"
              width="62"
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jupyter/jupyter-original-wordmark.svg"
            />
          </div>
          <p style="text-align: justify">
            This GitHub repository serves as a comprehensive introduction to the field of data science,
            offering insights into fundamental concepts, processes, and essential tools, making it a valuable
            resource suitable for individuals of varying expertise levels, ranging from novice data enthusiasts
            to aspiring data scientists, as well as experienced professionals seeking to update and reinforce their
            knowledge in the field.
          </p>
          <a class="project-link" target="_blank" href="https://github.com/Ujstor/Data-Science-Introduction">
            GitHub
          </a>
        </div>
      </div>
    </section>

    <footer class="footer">
      <p>&copy; Aleksandar Stipan, 2023</p>
    </footer>

    <!-- Import JS: Particles Theme -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- Import JS: Sweet Scroll -->
    <script src="./static/js/sweet-scroll.min.js"></script>
    <!-- Import JS: Main Script -->
    <script src="./static/js/main.js"></script>
  </body>
</html>
